/*
    Source of Inspiration:
    https://www.w3schools.com/css/css_grid.asp
*/
/*fonts style*/
  .font1{
    color: rgb(128, 207, 237);
    text-align: left;
    padding-top: 15px;
    -webkit-text-stroke:1px black;
  }
  
  h1{
    font-family: Candara, sans-serif;  
    padding: 0;
  }
  /*grid for each item */
  .item1 { grid-area: header; 
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
  }
  .item2 { grid-area: tabs;}
  .item3 { grid-area: table;}
  .item4 { grid-area: map;}
  .item5 { grid-area: charts; }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'tabs tabs tabs tabs tabs tabs'
      'header header header header header header'
      'map map map map map map'
      'table table table table table table'
      'charts charts charts charts charts charts';
    grid-gap: 5px;
    background-color: rgb(64,144,121);
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(254, 255, 252, 0.8);
    text-align: center;
    padding: 0 0;
    font-size: 30px;
  }
  
  /*Table*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}