/*
    Searchable Dropdown Menu
    Source of Inspiration: https://www.w3schools.com/howto/howto_js_filter_lists.asp
*/
            
#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
                    
#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
                    
#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}
                    
#myUL li a:hover:not(.header) {
    background-color: #eee;
}

/*
    Scrollbar for Searchable Filters
    Source: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
*/

/* width */
::-webkit-scrollbar  {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }